{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Courses | Aptech DB
{% endblock title %}

{% block content %}
<div class="p-3 rounded-xl text-clifford bg-darkBlue text-white">
   <h1 class="text-lg font-medium">Courses</h1>
</div>


<div class="overflow-hidden overflow-x-auto border border- rounded mt-5 shadow">
   <table class="min-w-full text-sm divide-y divide-gray-300 ">
      <thead>
         <tr class="bg-gray-50 font-jost text-md">
            <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap" colspan="4">Name</th>            
            <th class="px-4 py-2 font-medium  text-gray-900 whitespace-nowrap">Duration</th>
            <th class="px-4 py-2 font-medium  text-gray-900 whitespace-nowrap float-right">Price</th>
         </tr>
      </thead>

      <tbody class="divide-y divide-gray-100 bg-white ">
         <tr class="font-semibold">
            <td colspan="4" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate odio placeat, ab ad error corrupti.
            </td>            
            <td class="px-4 py-2 text-gray-700 text-center whitespace-nowrap">Web Developer</td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap float-right">$120,000</td>
         </tr>         
      </tbody>
   </table>
</div>



{% endblock content %}