{% extends 'base.html' %}
{% block title %}
Dashboard | Aptech DB
{% endblock title %}

{% block content %}
<div class="p-3 md:p-5">

   <!-- Detail Cards -->
   <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-3 xs:gap-6">
      <div class="bg-white rounded-lg hover:shadow-md transition-all p-3 flex items-center space-x-4">
         <div class="bg-blue-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-blue-800">
               school
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">08</h1>
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Students</p>
         </div>
      </div>

      <div class="bg-white rounded-lg hover:shadow-md transition-all p-3 flex items-center space-x-4">
         <div class="bg-yellow-100 w-fit p-2 pb-1 rounded-full">            
            <i class="material-icons-round text-3xl text-yellow-800">
               article
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">08</h1>
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Courses</p>
         </div>
      </div>

      <div class="bg-white rounded-lg hover:shadow-md transition-all p-3 flex items-center space-x-4">
         <div class="bg-red-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-red-800">
               groups
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">08</h1>
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Staffs</p>
         </div>
      </div>

      <div class="bg-white rounded-lg hover:shadow-md transition-all p-3 flex items-center space-x-4">
         <div class="bg-green-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-green-800">
               contact_support
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">08</h1>
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Enquiries this month</p>
         </div>
      </div>

   </div>

   <!--  -->
   <div class="grid md:grid-cols-3 gap-6 mt-12">
      <div class="p-8 bg-white rounded md:col-span-2">01</div>
      <!-- ... -->
      <div class="p-8 bg-white rounded">09</div>
   </div>



</div>
{% endblock content %}