{% extends 'base.html' %}
{% load static %}
{% block title %}
Dashboard | Aptech DB
{% endblock title %}

{% block content %}
{% include 'partials/messages.html' %}

<div class="p-3 rounded-lg text-clifford bg-darkBlue text-white">
   <h1 class="text-lg font-medium">Dashboard</h1>
</div>

<div class="p-3 md:p-5">
   <!-- * Detail Cards -->
   <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-3 xs:gap-6">

      <!-- ? Students -->
      <a href="{% url 'students' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-blue-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-blue-800">
               school
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{students_count}}</h1>
            {% if students_count > 1%}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Students</p>
            {% else %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Student</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Courses  -->
      <a href="{% url 'courses' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-yellow-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-yellow-800">
               article
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{courses_count}}</h1>
            {% if courses_count > 1 %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Courses</p>
            {% else %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Course</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Staff  -->
      <a href="{% url 'staffs' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-red-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-red-800">
               groups
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{staff_count}}</h1>
            {% if staff.count > 1 %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Staffs</p>
            {% else %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Staff</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Enquiries -->
      <a href="{% url 'enquiries' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-green-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-green-800">
               forum
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{month_enquiries}}</h1>
            {% if month_enquiries > 1 %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Enquiries this month</p>
            {% else %}
               <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Enquiry this month</p>
            {% endif %}
         </div>
      </a>

   </div>

   <!--  -->
   <div class="grid md:grid-cols-3 gap-6 mt-12">
      <div class="p-8 bg-white rounded md:col-span-2">01</div>
      <div class="p-8 bg-white rounded">09</div>
   </div>



</div>
{% endblock content %}