{% extends 'base.html' %}
{% load static %}
{% block title %}
Dashboard | Aptech DB
{% endblock title %}

{% block content %}
{% include 'partials/messages.html' %}

<div class="p-3 rounded-lg  bg-darkBlue text-white">
   <h1 class="text-lg font-medium">Dashboard </h1>
</div>

<div class="p-3 md:p-5">
   <!-- * Detail Cards -->
   <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 gap-3 xs:gap-6">

      <!-- ? Students -->
      <a href="{% url 'students' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-blue-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-blue-800">
               school
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{students_count}}</h1>
            {% if students_count > 1%}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Students</p>
            {% else %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Student</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Courses  -->
      <a href="{% url 'courses' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-yellow-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-yellow-800">
               article
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{courses_count}}</h1>
            {% if courses_count > 1 %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Courses</p>
            {% else %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Course</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Staff  -->
      <a href="{% url 'staffs' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-red-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-red-800">
               groups
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{staff_count}}</h1>
            {% if staff.count > 1 %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Staffs</p>
            {% else %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Staff</p>
            {% endif %}
         </div>
      </a>

      <!-- ? Enquiries -->
      <a href="{% url 'enquiries' %}"
         class="bg-white rounded-lg hover:shadow-md hover:-translate-y-0.5 transition-all p-3 flex items-center space-x-4">
         <div class="bg-green-100 w-fit p-2 pb-1 rounded-full">
            <i class="material-icons-round text-3xl text-green-800">
               forum
            </i>
         </div>
         <div class="-space-y-1">
            <h1 class="font-jost font-semibold text-lg m-0 p-0">{{month_enquiries}}</h1>
            {% if month_enquiries > 1 %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Enquiries this month</p>
            {% else %}
            <p class="m-0 p-0 text-sm text-gray-500 font-semibold">Enquiry this month</p>
            {% endif %}
         </div>
      </a>

   </div>

   <!-- DASHBOARD CHART -->
   <div class="bg-white rounded w-full mt-12">
      <div>
         <div class="p-3 items-end inline-block">
            <div class="flex">
               <span class="text-3xl mr-2 font-bold">{{students_this_month}}</span>
               <small class="text-end font-medium">Students Registered<br>this Month</small>
            </div>
         </div>
         <div class="p-3 items-end inline-block">
            <div class="flex">
               <span class="text-3xl mr-2 font-bold">{{students_this_year}}</span>
               <small class="text-end font-medium">Students Registered<br>this Year</small>
            </div>
         </div>
         <div class="p-3 items-end inline-block">
            <div class="flex">
               <span class="text-3xl mr-2 font-bold">{{students_last_year}}</span>
               <small class="text-end font-medium">Students Registered<br>last Year</small>
            </div>
         </div>
      </div>
      <div class="max-w-full w-full" id="chart"></div>
   </div>


   <div class="hidden">
      {% for student_enrolled in students_enrolled %}
      <span class="enrollment_date">{{student_enrolled.date}}</span>
      <span class="num_enrolled">{{student_enrolled.num}}</span>
      <span class="prev_num_enrolled">{{student_enrolled.num_prev}}</span>
      {% endfor %}
   </div>





</div>


<!-- APEX CHARTS CDN -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script>
   let enrollment_date = document.getElementsByClassName("enrollment_date")
   let num_enrolled = document.getElementsByClassName("num_enrolled")
   let prev_num_enrolled = document.getElementsByClassName("prev_num_enrolled")

   let data = []
   let categories = []
   let data2 = []

   for (let a = 0; a < enrollment_date.length; a++) {
      data.push(num_enrolled[a].textContent)
      categories.push(enrollment_date[a].textContent)
      data2.push(prev_num_enrolled[a].textContent)
   }

   var options = {
      chart: {
         type: 'area',
         width: "80%",
         height: 400,
         zoom: {
            enabled: false,
         }
      },
      series: [
         {
            name: 'No of Students Enrolled This Year',
            data: data
         },
         {
            name: 'No of Students Enrolled Last Year',
            data: data2
         }
      ],
      xaxis: {
         title: {
            text: 'Students Enrolled per Month of the Year',
         },
         categories: categories
      },
      colors: ['#008FFB', '#F44336'],
      fill: {
         colors: ['#008FFB', '#F44336'],
      },
      responsive: [
         {
            breakpoint: 1000,
            options: {
               chart: {
                  width: "100%"
               }
            }
         }
      ]
   }

   var chart = new ApexCharts(document.querySelector("#chart"), options);

   chart.render();
</script>
{% endblock content %}