<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>
      {% block title %}
      Login || AptechDB
      {% endblock title %}
   </title>
   
   <!-- Vendors -->
   <link rel="stylesheet" href="{% static 'css/daisy_ui.css' %}">
   <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,line-clamp"></script>

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

   <!-- Custom -->
   <link rel="stylesheet" href="{% static 'css/global.css' %}">

   <script>
      tailwind.config = {
         theme: {
            screens: {
               xs: "475px",
               sm: "576px",
               md: "768px",
               lg: "976px",
               xl: "1440px",
            },
            extend: {
               colors: {
                  aptechRed: "#AD1E22",
                  aptechOrange: "#ddac26",
                  darkBlue: "#2F2E41"
               }
            },
            fontFamily: {
               jost: ["Jost", "sans-serif"],
               mulish: ["Mulish", "sans-serif"],
            },
            fontSize: {
               xs: ".75rem",
               sm: ".875rem",
               tiny: ".875rem",
               base: "1rem",
               md: "15px",
               lg: "1.125rem",
               xl: "1.25rem",
               "2xl": "1.5rem",
               "3xl": "1.875rem",
               "4xl": "2.25rem",
               "5xl": "3rem",
               "6xl": "4rem",
               "7xl": "5rem",
            },
         }
      }
   </script>
</head>

<body>
   <div class="h-[100vh] w-full grid content-center text-center ">

      <div class="px-4 py-16 mx-auto sm:px-6 lg:px-8 w-5/12">         
         <form action="" class="w-full p-4 py-8 mx-auto mt-8 mb-0 space-y-4">
            <div>

               <label for="email" class="font-bold sr-only">Email</label>

               <div class="relative">
                  <input type="text" class="bg-gray-50 w-full font-medium placeholder:font-normal p-4 pr-12 outline-none text-md  rounded-lg shadow focus:shadow focus:shadow-gray-400 "
                     placeholder="Username" />

                  <span class="absolute inset-y-0 inline-flex items-center right-4">                     
                     <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                           d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                     </svg>
                  </span>
               </div>
            </div>

            <div>
               <label for="password" class="sr-only">Password</label>
               <div class="relative mt-3">
                  <input type="password" class="bg-gray-50 w-full font-medium placeholder:font-normal p-4 pr-12 outline-none text-md border-none rounded-lg shadow focus:shadow focus:shadow-gray-400 "
                     placeholder="Password" />

                  <span class="absolute inset-y-0 inline-flex items-center right-4">                     
                     <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                           d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                     </svg>
                  </span>
               </div>
            </div>

            <div class="w-fit mx-auto">               
               <button type="submit"
                  class="inline-block font-jost mt-5 px-4 py-2 text-sm font-medium text-white bg-aptechRed rounded-lg active:shadow-none active:translate-y-0.5">
                  Sign in
               </button>
            </div>
         </form>
      </div>


   </div>

   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>