{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Courses | Aptech DB
{% endblock title %}

{% block content %}

<div class="p-3 rounded-lg text-clifford bg-darkBlue text-white">
   <h1 class="text-lg font-medium">Courses</h1>
</div>

<div class="flex mt-3 justify-end">
   <label for="add-course-modal"
      class=" modal-button flex w-fit cursor-pointer text-md items-center px-4 py-2 font-semibold border-2 text-aptechRed bg-white rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-5 h-5 mx-1">
         <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>

      <span class="mx-1">Add Course</span>
   </label>
</div>

<div class="overflow-hidden overflow-x-auto border border- rounded mt-5 shadow">
   <table class="min-w-full text-sm divide-y divide-gray-300 ">
      <thead>
         <tr class="bg-gray-50 font-jost text-md">
            <th class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap"></th>
            <th class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap">Name</th>
            <th class="px-4 py-2 font-medium  text-gray-900 whitespace-nowrap">Duration</th>
            <th class="px-4 py-2 font-medium  text-gray-900 whitespace-nowrap float-right">Price</th>
         </tr>
      </thead>

      <tbody class="divide-y divide-gray-100 bg-white ">
         {% for course in all_courses %}

         <tr class="font-semibold">
            <td class="px-4 py-2 text-gray-700 text-center whitespace-nowrap">
               {{forloop.counter}}
            </td>
            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
               <a href="" class="hover:text-aptechRed">
                  {{course.name}}
               </a>
            </td>
            <td class="px-4 py-2 text-gray-700 text-center whitespace-nowrap">{{course.duration}}</td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap float-right">
               <span class="font-bold">₦</span> {{course.price|intcomma}}
            </td>
         </tr>

         {% endfor %}
      </tbody>
   </table>
</div>



<!-- Put this part before </body> tag -->
<input type="checkbox" id="add-course-modal" class="modal-toggle" />
<div class="modal">
   <div class="modal-box  p-3 rounded-md ">

      <label for="add-course-modal" class="cursor-pointer ">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
               d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
               clip-rule="evenodd" />
         </svg>

      </label>

      <h3 class="font-semibold text-lg">Add Course</h3>

      <form action="" method="POST" class="mt-4">
         <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
               <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
               </svg>
            </div>
            <input type="text" id="email-address-icon"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="name@flowbite.com">
         </div>
      </form>


   </div>
</div>





{% endblock content %}
{% block scripts %}
{% endblock scripts %}