{% extends 'base.html' %}

<!-- JQUERY CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% block title %}
Change Password | Aptech DB
{% endblock title %}

{% block content %}
<div class="">
    <div class="p-3 rounded-lg text-clifford bg-darkBlue text-white">
        <h1 class="text-lg font-medium"><a href="{% url 'admin_settings' %}"><ion-icon name="arrow-back" style="height: 15px !important;"></ion-icon></a> Change Password</h1>
    </div>
    <div class="flex justify-center items-center w-full mt-12">
        <div class="w-3/4 bg-white rounded-md overflow-hidden">
            <div class="p-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mt-8">
                        <button
                           type="submit"
                           class="w-full font-jost px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-darkBlue rounded hover:bg-gray-800 focus:outline-none focus:bg-gray-600">
                           Save New Password
                        </button>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    form ul {
        display: none;
    }
    form input{
        width: 100%;
        padding: 0.25rem 0.5rem;
        border: 1px solid #ccc;
        outline: none;
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
    }
</style>

<script>
    document.getElementById("#id_old_password").setAttribute("placeholder", "Old Password")
    document.getElementById("#id_new_password1").setAttribute("placeholder", "New Password")
    document.getElementById("#id_new_password2").setAttribute("placeholder", "Confirm New Password")
    $("form input").addClass("w-full px-2 py-1 border rounded-sm mt-2 mb-4")
</script>
{% endblock content %}