<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
   <title>
      {% block title %}
      Login || AptechDB
      {% endblock title %}
   </title>

   <!-- Vendors -->
   <link rel="stylesheet" href="{% static 'css/daisy_ui.css' %}">
   <!-- <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,line-clamp"></script> -->

   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

   <!-- Custom -->
   <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
   <link rel="stylesheet" href="{% static 'css/global.css' %}">   
</head>

<body>
   <div class="h-[100vh] w-full grid content-center text-center bg-gray-100 login-bg">

      <div class="flex mx-auto overflow-hidden w-8/12 bg-white rounded-lg shadow ">
         <div class="hidden bg-cover lg:block lg:w-1/2 login-form">
         </div>
      
         <form class="w-full px-6 py-16 md:px-8 lg:w-1/2 border">         
            <h5 class="text-2xl text-center text-aptechRed font-jost font-medium">Welcome back!</h5>
                     
            <div class="mt-8">
               <label class="block mb-2 text-sm font-medium text-gray-600 text-left" for="LoggingEmailAddress">Email Address</label>
               <input id="LoggingEmailAddress"
                  class="block font-medium w-full px-4 py-2 text-gray-700 bg-white border-2 border-gray-500 rounded-md focus:border-darkBlue focus:ring-opacity-40  focus:outline-none focus:ring focus:ring-blue-300"
                  type="email">
            </div>
      
            <div class="mt-4">
               <div class="flex justify-between">
                  <label class="block mb-2 text-sm font-medium text-gray-600 "
                     for="loggingPassword">Password</label>
                  <a href="#" class="text-xs text-gray-700 font-medium hover:underline">Forget Password?</a>
               </div>
      
               <input id="loggingPassword"
                  class="block font-medium w-full px-4 py-2 text-gray-700 bg-white border-2 border-gray-500 rounded-md focus:border-darkBlue focus:ring-opacity-40  focus:outline-none focus:ring focus:ring-blue-300"
                  type="password">
            </div>
      
            <div class="mt-8">
               <button
                  type="submit"
                  class="w-full font-jost px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-darkBlue rounded hover:bg-gray-800 focus:outline-none focus:bg-gray-600">
                  Login
               </button>
            </div>
         </form>
      </div>


   </div>

   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>