{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load tailwind_filters %}
{% block title %}
Update Enquiry | Aptech DB
{% endblock title %}

{% block content %}
<div class="p-3 rounded-lg bg-darkBlue text-white">
   <h1 class="text-lg font-medium">Update Enquiry: {{enquiry.enquiry_no}}</h1>
</div>

{% include 'partials/messages.html' %}


<form method="POST">
   {% csrf_token %}
   <div class="grid grid-cols-1 w-full xs:w-11/12 md:w-full mx-auto md:grid-cols-2 gap-4 mt-6">
      <div class="bg-white p-4 rounded-md shadow">
         <!-- ? Enqiruy No -->
         <div>
            <label for="enquiry_no" class="block mb-2 text-base font-medium text-gray-900">Enquiry No</label>
            {{edit_enquiry_form.enquiry_no}}
         </div>

         <!-- ? Firstname -->
         <div>
            <label for="first_name" class="block mb-2 text-base font-medium text-gray-900">
               Firstname
               <span class="text-red-600">*</span>
            </label>
            {{edit_enquiry_form.first_name}}
         </div>

         <!-- ? Middlename -->
         <div>
            <label for="middlename" class="block mb-2 text-base font-medium text-gray-900">
               Middlename
            </label>
            {{edit_enquiry_form.middlename}}
         </div>

         <!-- ? Surnname -->
         <div>
            <label for="surn_name" class="block mb-2 text-base font-medium text-gray-900">
               Surname
               <span class="text-red-600">*</span>
            </label>
            {{edit_enquiry_form.surn_name}}
         </div>

         <!-- ? Address -->
         <div>
            <label for="address" class="block mb-2 text-base font-medium text-gray-900">Address</label>
            {{edit_enquiry_form.address}}
         </div>

         <!-- ? Contact No -->
         <div>
            <label for="contact_no" class="block mb-2 text-base font-medium text-gray-900">Contact No</label>
            {{edit_enquiry_form.contact_no}}
         </div>

         <!-- ? Email -->
         <div>
            <label for="contact_no" class="block mb-2 text-base font-medium text-gray-900">Email Address</label>
            {{edit_enquiry_form.email}}
         </div>

         <!-- ? Date of birth -->
         <div>
            <label for="last_name" class="block mb-2 text-base font-medium text-gray-900">
               Date of Birth
            </label>
            {{edit_enquiry_form.date_of_birth}}
         </div>

         <!-- ? Guardian's Name -->
         <div>
            <label for="guardians_name" class="block mb-2 text-base font-medium text-gray-900">
               Guardian's Name
            </label>
            {{edit_enquiry_form.guardians_name}}
         </div>

         <!-- ? Guardian's Contact No -->
         <div>
            <label for="guardians_contact_no" class="block mt-2 mb-2 text-base font-medium text-gray-900">
               Guardian's Contact No
            </label>
            {{edit_enquiry_form.guardians_contact_no}}
         </div>
      </div>

      <div class="bg-white p-4 rounded-md shadow">

         <!-- ? Educational Qualifications -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-base font-medium text-gray-900">
               Educational Qualifications
            </label>
            {{edit_enquiry_form.educational_qualifications}}
         </div>

         <!-- ? Educational Others -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               (Others) please specify:
            </label>
            {{edit_enquiry_form.eductional_others}}
         </div>


         <!-- ? How you heard list -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-base font-medium text-gray-900">
               How did you hear about Aptech Computer Education ?
            </label>
            {{edit_enquiry_form.how_you_heard}}
         </div>

         <!-- ? How you heard others -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               (Others) please specify:
            </label>
            {{edit_enquiry_form.how_you_heard_others}}
         </div>

         <!-- ? Course of Interest list -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-base font-medium text-gray-900">
               Course of Interest
            </label>
            {{edit_enquiry_form.course_of_interest}}
         </div>

         <!-- ? Course of Interest others -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               (Others) please specify:
            </label>
            {{edit_enquiry_form.course_of_interest_others}}
         </div>


         <h4 class="text-aptechRed font-medium mt-4">For Counselor's only</h4>

         <!-- ? Counselor -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               Counselor:
            </label>
            {{edit_enquiry_form.counselor}}
         </div>

         <!-- ? Remark -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               Remark:
            </label>
            {{edit_enquiry_form.remark}}
         </div>

         <!-- ? Date -->
         <div>
            <label for="educational_qualifications" class="block mt-2 mb-2 text-md font-medium text-gray-900">
               Date:
            </label>
            {{edit_enquiry_form.date}}
         </div>

      </div>
   </div>

   <div class="flex justify-center mt-10">
      <button type="submit"
         class="cursor-pointer text-sm font-semibold flex items-center font-jost px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-green-700 rounded hover:bg-opacity-75 focus:outline-none focus:bg-green-600">
   
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
               d="M10.5 3.75a6 6 0 00-5.98 6.496A5.25 5.25 0 006.75 20.25H18a4.5 4.5 0 002.206-8.423 3.75 3.75 0 00-4.133-4.303A6.001 6.001 0 0010.5 3.75zm2.03 5.47a.75.75 0 00-1.06 0l-3 3a.75.75 0 101.06 1.06l1.72-1.72v4.94a.75.75 0 001.5 0v-4.94l1.72 1.72a.75.75 0 101.06-1.06l-3-3z"
               clip-rule="evenodd" />
         </svg>
   
         <span class="ml-2">Update Enquiry</span>
      </button>
   </div>
</form>


{% endblock content %}