<!DOCTYPE html>
{% load static %}
<html lang="en" data-theme="light" class="light">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
   <title>
      {% block title %}
      {% endblock title %}
   </title>

   <!-- Vendors -->
   <link rel="stylesheet" href="{% static 'css/daisy_ui.css' %}">
   <!-- <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script> -->

   <!-- Icons -->
   <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
      rel="stylesheet" />


   <!-- Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">

   <!-- Custom -->
   <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
   <link rel="stylesheet" href="{% static 'css/global.css' %}">
   
</head>

<body>

   {% url 'dashboard' as dashboard %}
   {% url 'courses' as courses %}
   {% url 'course_detail' as course_detail %}
   {% url 'students' as students %}
   {% url 'new_student' as new_student %}
   {% url 'staffs' as staffs %}
   {% url 'enquiries' as enquiries %}
   {% url 'new_enquiry' as new_enquiry %}
   {% url 'admin_settings' as admin_settings %}

   <div class="drawer drawer-mobile ">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content items-start bg-gray-200 p-2 lg:rounded-tr-xl lg:rounded-br-xl">
         {% include 'partials/navbar.html' %}
         {% block content %}{% endblock content %}
      </div>
      <div class="drawer-side">
         <label for="my-drawer-2" class="drawer-overlay"></label>
         <div
            class="menu p-4 overflow-y-auto w-64 bg-white text-gray-700 lg:rounded-tl-xl lg:rounded-bl-xl flex-col justif-between">

            <div class="">
               <!-- <img src="{% static 'img/logo.png' %}" class="w-6/12 mx-auto" alt="Logo"> -->
               <h1 class="text-xl mt-3 text-aptechRed text-center ">
                  <a href="{% url 'dashboard' %}" class="font-semibold">
                     Aptech Ota
                  </a>
               </h1>
            </div>

            <form action="{% url 'search' %}" method="GET" class="relative mt-7">
               
               <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg class="w-5 h-5 text-gray-700" viewBox="0 0 24 24" fill="none">
                     <path
                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
               </span>

               <input 
                  type="text"
                  name="key"
                  class="w-full text-md font-medium py-2 pl-10 pr-4 text-gray-700 bg-white border-2 border-gray-300 rounded-md  focus:border-darkBlue focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring"
                  placeholder="Search" 
               />
            </form>

            <ul class="space-y-1 mt-7">
               <li
                  class="hover:bg-darkBlue active:bg-darkBlue hover:text-white rounded sidenav-link font-semibold {% if request.path == dashboard %} bg-darkBlue text-white hover:bg-opacity-90 {% endif %}">
                  <a href="{% url 'dashboard' %}" class="active:bg-darkBlue text-md">
                     <i class="material-icons-round text-2xl ">
                        bar_chart
                     </i>
                     Dashboard
                  </a>
               </li>
               <li
                  class="hover:bg-darkBlue active:bg-darkBlue hover:text-white rounded sidenav-link font-semibold {% if request.path == courses %} bg-darkBlue text-white hover:bg-opacity-90 {% endif %}">
                  <a href="{% url 'courses' %}" class="active:bg-darkBlue text-md">
                     <i class="material-icons-round text-2xl">
                        article
                        <!-- source -->
                     </i>
                     Courses
                  </a>
               </li>
               <li
                  class="hover:bg-darkBlue active:bg-darkBlue hover:text-white rounded sidenav-link font-semibold {% if request.path == students or request.path == new_student %} bg-darkBlue text-white hover:bg-opacity-90 {% endif %}">
                  <a href="{% url 'students' %}" class="active:bg-darkBlue text-md">
                     <i class="material-icons-round text-2xl">
                        school
                     </i>
                     Students
                  </a>
               </li>
               <li
                  class="hover:bg-darkBlue active:bg-darkBlue hover:text-white rounded sidenav-link font-semibold {% if request.path == staffs %} bg-darkBlue text-white hover:bg-opacity-90 {% endif %}">
                  <a href="{% url 'staffs' %}" class="active:bg-darkBlue text-md">
                     <i class="material-icons-round text-2xl">
                        groups
                     </i>
                     Staffs
                  </a>
               </li>
               <li
                  class="hover:bg-darkBlue active:bg-darkBlue hover:text-white rounded sidenav-link font-semibold {% if request.path == enquiries or request.path == new_enquiry  %} bg-darkBlue text-white hover:bg-opacity-90 {% endif %}">
                  <a href="{% url 'enquiries' %}" class="active:bg-darkBlue text-md">
                     <i class="material-icons-round text-2xl">
                        forum
                     </i>
                     Enquiries
                  </a>
               </li>
            </ul>

            <button id="dropdownAvatarNameButton" data-dropdown-placement="top"
               data-dropdown-toggle="dropdownAvatarName"
               class="flex items-center text-md mt-auto mb-2 pr-5 font-medium font-jost text-gray-900 rounded-full md:mr-0 ring-2 ring-gray-500"
               type="button">
               <img class="mr-2 w-10 h-10 rounded-full"
                  src="{% static 'img/default_avatar.png' %}"
                  alt="user photo">
               <span class="ml-auto"></span>{{request.user.username}}
               <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor"
                  viewBox="0 0 20 20">
                  <path fill-rule="evenodd"
                     d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                     clip-rule="evenodd" />
               </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownAvatarName"
               class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow-md border-2 "
               style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(317.778px, 62.2222px);"
               data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top">
               <div class="py-3 px-4 text-sm text-gray-900 ">
                  <h1 class="font-medium ">{{request.user.username}}</h1>
                  <p class="font-medium">{{request.user.email}}</p>
               </div>
               <ul class="py-1 text-sm text-gray-700 "
                  aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">                  
                  <li>
                     <a href="{% url 'admin_settings' %}" class="py-2 px-4 font-semibold text-gray-700 hover:bg-gray-100 flex {% if request.path == admin_settings %}bg-darkBlue text-white hover:bg-gray-800 {% endif %}">
                        <i class="material-icons-round ">
                           manage_accounts
                        </i>
                        Settings
                     </a>
                  </li>
               </ul>
               <div class="py-1">
                  <li>
                     <a href="{% url 'logout' %}" class=" py-2 px-4 text-sm font-semibold text-gray-700 hover:bg-gray-100 flex">
                        <i class="material-icons-round ">
                           logout
                        </i>
                        Sign out
                     </a>
                  </li>
               </div>
            </div>

         </div>

      </div>
   </div>

   <script src="{% static 'js/flowbite.js' %}"></script>
   <script src="{% static 'js/datepicker.js' %}"></script>
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/mixitup.min.js' %}"></script>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   {% block scripts %}{% endblock scripts %}
</body>

</html>